# Finding the ideal location for opening a Mexican Restaurant in Boston, Massachusets using k-means clustering

## Import libraries

In [1]:
import pandas as pd
import numpy as np

## Load data from local file

In [2]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_0502ac5199884d7fb135520a321adf42 = 'https://s3.eu-geo.objectstorage.softlayer.net'
else:
    endpoint_0502ac5199884d7fb135520a321adf42 = 'https://s3.eu-geo.objectstorage.service.networklayer.com'

client_0502ac5199884d7fb135520a321adf42 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='YWz6hxIAG256qo1ut5N0zaDiODnVrEB_gFnmm4-Ef4mS',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_0502ac5199884d7fb135520a321adf42)

body = client_0502ac5199884d7fb135520a321adf42.get_object(Bucket='capstoneprojectthebattleofneighbo-donotdelete-pr-kvy8lbv9tll9m3',Key='boston_data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_boston = pd.read_csv(body)
df_boston.head()

  Neighbourhood Total Population  Mexicans Per capita income
0       Allston           19,363        73          $28,986
1     Back Bay            18,176       119          $98,495
2  Beacon Hill             9,751         0          $90,227
3      Brighton           51,785       109          $35,876
4   Charlestown           18,901        12          $69,219

### Rename columns

In [3]:
df_boston.rename(columns={"Mexicans": "Mexican Population", "Per capita income": "Per Capita Income ($)"}, inplace=True)
df_boston

,Neighbourhood,Total Population,Mexican Population,Per Capita Income ($)
0,Allston,"19,363",73,"$28,986"
1,Back Bay,"18,176",119,"$98,495"
2,Beacon Hill,"9,751",0,"$90,227"
3,Brighton,"51,785",109,"$35,876"
4,Charlestown,"18,901",12,"$69,219"
5,Dorchester,"125,947",229,"$26,292"
6,Downtown,"17,581",77,"$67,994"
7,East Boston,"46,655",810,"$26,569"
8,Fenway,"32,598",302,"$24,997"
9,Harbor Islands,322,0,"$7,824"
10,Hyde Park,"37,094",0,"$31,570"
11,Jamaica Plain,"39,314",51,"$46,721"
12,Longwood,"5,389",0,"$7,033"
13,Mattapan,"25,586",0,"$23,729"
14,Mission Hill,"17,406",40,"$21,386"
15,North End,"9,271",49,"$81,149"
16,Roslindale,"29,206",45,"$38,760"
17,Roxbury,"52,944",63,"$18,932"
18,South Boston,"36,212",49,"$55,709"
19,South Boston Waterfront,"3,443",10,"$99,073"
20,South End,"32,040",79,"$75,387"
21,West End,"6,173",18,"$70,389"
22,West Roxbury,"33,930",148,"$43,415"

### Erase dollar sign and comma from values

In [4]:
cols = ['Total Population', 'Per Capita Income ($)']
df_boston[cols] = df_boston[cols].replace({'\$': '', ',': ''}, regex=True)
df_boston

,Neighbourhood,Total Population,Mexican Population,Per Capita Income ($)
0,Allston,19363,73,28986
1,Back Bay,18176,119,98495
2,Beacon Hill,9751,0,90227
3,Brighton,51785,109,35876
4,Charlestown,18901,12,69219
5,Dorchester,125947,229,26292
6,Downtown,17581,77,67994
7,East Boston,46655,810,26569
8,Fenway,32598,302,24997
9,Harbor Islands,322,0,7824
10,Hyde Park,37094,0,31570
11,Jamaica Plain,39314,51,46721
12,Longwood,5389,0,7033
13,Mattapan,25586,0,23729
14,Mission Hill,17406,40,21386
15,North End,9271,49,81149
16,Roslindale,29206,45,38760
17,Roxbury,52944,63,18932
18,South Boston,36212,49,55709
19,South Boston Waterfront,3443,10,99073
20,South End,32040,79,75387
21,West End,6173,18,70389
22,West Roxbury,33930,148,43415

## Install geocoder to retrieve longitude and latitude of each neighbourhood

In [5]:
!pip install geocoder
import geocoder

Collecting geocoder
  Downloading geocoder-1.38.1-py2.py3-none-any.whl (98 kB)
     |████████████████████████████████| 98 kB 7.7 MB/s  eta 0:00:01
Requirement already satisfied: future in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (0.18.2)
Collecting ratelim
  Downloading ratelim-0.1.6-py2.py3-none-any.whl (4.0 kB)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: six in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: click in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (2020.12.5)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [6]:
from geopy.geocoders import Nominatim

In [7]:
latitude=[]
longitude=[]
for neighbourhoud in df_boston["Neighbourhood"]:

    address = neighbourhoud + ', Boston'

    geolocator = Nominatim(user_agent="boston_explorer")
    location = geolocator.geocode(address)
    latitude.append(location.latitude)
    longitude.append(location.longitude)
df_boston['Latitude']=latitude
df_boston['Longitude']=longitude

In [8]:
df_boston

,Neighbourhood,Total Population,Mexican Population,Per Capita Income ($),Latitude,Longitude
0,Allston,19363,73,28986,42.355434,-71.132127
1,Back Bay,18176,119,98495,42.350549,-71.080311
2,Beacon Hill,9751,0,90227,42.358708,-71.067829
3,Brighton,51785,109,35876,42.350097,-71.156442
4,Charlestown,18901,12,69219,42.377875,-71.061996
5,Dorchester,125947,229,26292,42.297320,-71.074495
6,Downtown,17581,77,67994,52.971149,-0.059809
7,East Boston,46655,810,26569,42.375097,-71.039217
8,Fenway,32598,302,24997,42.345187,-71.104599
9,Harbor Islands,322,0,7824,42.269722,-70.920860
10,Hyde Park,37094,0,31570,42.255654,-71.124496
11,Jamaica Plain,39314,51,46721,42.309820,-71.120330
12,Longwood,5389,0,7033,42.341533,-71.110155
13,Mattapan,25586,0,23729,42.267566,-71.092427
14,Mission Hill,17406,40,21386,42.332560,-71.103608
15,North End,9271,49,81149,42.365097,-71.054495
16,Roslindale,29206,45,38760,42.291209,-71.124497
17,Roxbury,52944,63,18932,42.324843,-71.095016
18,South Boston,36212,49,55709,42.333431,-71.049495
19,South Boston Waterfront,3443,10,99073,40.318570,-79.817939
20,South End,32040,79,75387,42.341310,-71.077230
21,West End,6173,18,70389,42.363919,-71.063899
22,West Roxbury,33930,148,43415,42.279265,-71.149497

### Drop null values from columns

In [9]:
df_boston.drop(df_boston[df_boston['Mexican Population'] == 0].index, inplace = True)
df_boston = df_boston.reset_index(drop=True)
df_boston

,Neighbourhood,Total Population,Mexican Population,Per Capita Income ($),Latitude,Longitude
0,Allston,19363,73,28986,42.355434,-71.132127
1,Back Bay,18176,119,98495,42.350549,-71.080311
2,Brighton,51785,109,35876,42.350097,-71.156442
3,Charlestown,18901,12,69219,42.377875,-71.061996
4,Dorchester,125947,229,26292,42.297320,-71.074495
5,Downtown,17581,77,67994,52.971149,-0.059809
6,East Boston,46655,810,26569,42.375097,-71.039217
7,Fenway,32598,302,24997,42.345187,-71.104599
8,Jamaica Plain,39314,51,46721,42.309820,-71.120330
9,Mission Hill,17406,40,21386,42.332560,-71.103608
10,North End,9271,49,81149,42.365097,-71.054495
11,Roslindale,29206,45,38760,42.291209,-71.124497
12,Roxbury,52944,63,18932,42.324843,-71.095016
13,South Boston,36212,49,55709,42.333431,-71.049495
14,South Boston Waterfront,3443,10,99073,40.318570,-79.817939
15,South End,32040,79,75387,42.341310,-71.077230
16,West End,6173,18,70389,42.363919,-71.063899
17,West Roxbury,33930,148,43415,42.279265,-71.149497

### Get location of Boston using geopy

In [10]:
from geopy.geocoders import Nominatim
address = 'Boston'
geolocator = Nominatim(user_agent='boston_explorer')
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude

print("The geographical coordinates of Boston are {}, {}".format(latitude, longitude))

The geographical coordinates of Boston are 42.3602534, -71.0582912

## Install folium and create map with markers

In [ ]:
!pip install folium

Collecting folium
  Downloading folium-0.12.1-py2.py3-none-any.whl (94 kB)
     |████████████████████████████████| 94 kB 5.1 MB/s  eta 0:00:01
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (2.11.2)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (2.24.0)
Requirement already satisfied: numpy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (1.18.5)
Collecting branca>=0.3.0
  Downloading branca-0.4.2-py3-none-any.whl (24 kB)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (2020.12.5)
Installing collected packages: branca, folium
Successfully installed branca-0.4.2 folium-0.12.1

In [ ]:
# Folium mapping

import folium
map_Boston = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, neighbourhood in zip(df_boston['Latitude'], df_boston['Longitude'], df_boston['Neighbourhood']):
  label = '{}'.format(neighbourhood)
  label = folium.Popup(label)
  folium.CircleMarker(
      [lat,lng],
      radius=8,
      color='blue',
      popup=label,
      fill_color='#3186cc',
      fill_opacity=0.7,
      fill=True

  ).add_to(map_Boston)

map_Boston

## Define Foursquare Credentials and Version

In [ ]:
CLIENT_ID = 'G0GPEATC5GTGWNIL3TDEHXZ0FEPB4VE1TXSDYZRZUFF3QFMD' # your Foursquare ID
CLIENT_SECRET = '34DS1POLVF0VYZ2HT53EB1OMOGVO5ZNKN5SZP34PTXY3GQVS' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

## Explore Neighborhoods in Toronto

In [ ]:
import requests
LIMIT = 100
radius = 500
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
        CLIENT_ID,
        CLIENT_SECRET,
        VERSION,
        lat,
        lng,
        radius,
        LIMIT
    )

def getNearbyVenues(names, latitudes, longitudes, radius=500):
  venues_list = []
  for name, lat, lng in zip(names, latitudes, longitudes):
    print(name)

    #create the API request url
    url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
        CLIENT_ID,
        CLIENT_SECRET,
        VERSION,
        lat,
        lng,
        radius,
        LIMIT
    )
    
# make the GET request
    results = requests.get(url).json()['response']['groups'][0]['items']

    # return only relevant information for each nearby venue
    venues_list.append([(
        name,
        lat,
        lng,
        v['venue']['name'],
        v['venue']['location']['lat'],
        v['venue']['location']['lng'],
        v['venue']['categories'][0]['name']) for v in results
        ])
  
  nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
  nearby_venues.columns = ['Neighbourhood',
                           'Neighbourhood Latitude',
                           'Neighbourhood Longitude',
                           'Venue',
                           'Venue Latitude',
                           'Venue Longitude',
                           'Venue Category']

  return(nearby_venues)

### Venues for each neighbourhood

In [ ]:
boston_venues = getNearbyVenues(names=df_boston['Neighbourhood'],
                                 latitudes=df_boston['Latitude'],
                                 longitudes=df_boston['Longitude'])

boston_venues

In [ ]:
boston_venues.groupby('Neighbourhood').count()

## One hot encoding

In [ ]:
# one hot encoding
boston_onehot = pd.get_dummies(boston_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
boston_onehot['Neighbourhood'] = boston_venues['Neighbourhood'] 

# move neighborhood column to the first column
fixed_columns = [boston_onehot.columns[-1]] + list(boston_onehot.columns[:-1])
boston_onehot = boston_onehot[fixed_columns]

boston_onehot

### Group by neighbourhood and finding the mean of the frequency of occurrence of Mexican restaurants

In [ ]:
boston_grouped = boston_onehot.groupby('Neighbourhood').mean().reset_index()
boston_grouped = boston_grouped[['Neighbourhood', 'Mexican Restaurant']]
boston_grouped.set_index('Neighbourhood', inplace=True)

In [ ]:
boston_grouped

### Frequency distribution of Asian restaurants in each neighbourhood

In [ ]:
# sort by descending order
boston_grouped.sort_values(by='Mexican Restaurant', ascending=False, inplace=True)

%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.style.use('ggplot')
boston_grouped.plot(kind='bar', figsize=(15,5))

plt.title('Mean Frequency of Mexican Restaurants in Each Neighbourhood in Boston')
plt.xlabel('Neighbourhood')
plt.ylabel('Mean frequency of Mexican Restaurants')

plt.show()

### Frequency distribution of Asian restaurants in each neighbourhood

In [ ]:
df_mexican = df_boston[['Neighbourhood', 'Mexican Population']].set_index('Neighbourhood')

# sort by descending order
df_mexican.sort_values(by='Mexican Population', ascending=False, inplace=True)

#plot bar graph
df_mexican.plot(kind='bar', figsize=(13,5))
plt.title('Distribution of Mexicans in Each Neighbourhood')
plt.xlabel('Neighbourhood')
plt.ylabel('Percentage of Mexicans')

plt.show()

In [ ]:
df_boston["Per Capita Income ($)"] = pd.to_numeric(df_boston["Per Capita Income ($)"])

### Distribution of income groups in each neighbourhood

In [ ]:
df_income = df_boston[['Neighbourhood', 'Per Capita Income ($)']].set_index('Neighbourhood')

# sort by descending order
df_income.sort_values(by='Per Capita Income ($)', ascending=False, inplace=True)

#plot bar graph
df_income.plot(kind='bar', figsize=(13,5))
plt.title('Distribution of Per Capita Income in Each Neighbourhood')
plt.xlabel('Neighbourhood')
plt.ylabel('Per Capita Income')

plt.show()

## Final dataframe

In [ ]:
# merge df with boston_grouped
df_final = pd.merge(df_boston, boston_grouped, on='Neighbourhood')

In [ ]:
df_final

### Re-arrange columns

In [ ]:
df_final = df_final[['Neighbourhood', 'Latitude', 'Longitude', 'Total Population', 'Mexican Population', 'Per Capita Income ($)', 'Mexican Restaurant']]
df_final

In [ ]:
df_final = df_final.drop(['Total Population'], axis=1)
df_final

## Normalization of values

In [ ]:
from sklearn.preprocessing import StandardScaler
X = df_final.values[:,3:] 
X = np.nan_to_num(X)
Clus_dataSet = StandardScaler().fit_transform(X)
Clus_dataSet

In [ ]:
df_normalized = pd.DataFrame(Clus_dataSet)
df_normalized.rename(columns={0:'Mexican Population', 1:'Per Capita Income ($)', 2:'Mexican Restaurant'}, inplace=True)
df_normalized.head()

# Clustering

In [ ]:
from sklearn.cluster import KMeans

error_cost=[]

for i in range(3, 11):
  KM = KMeans(n_clusters=i, max_iter=100)
  try:
    KM.fit(df_normalized)

  except ValueError:
    print('Error on line', i)

  # calculate squared error for the clustered points
  error_cost.append(KM.inertia_ / 100)

# plot the K values against the squared error cost
plt.figure(figsize=(13,7))
plt.plot(range(3,11), error_cost, color='r', linewidth=3)
plt.xlabel('Number of k clusters')
plt.ylabel('Squared Error (Cost)')
plt.grid(color='white', linestyle='-', linewidth=2)

plt.show()

## Find the optimal number of clusters

In [ ]:
!pip install yellowbrick
from yellowbrick.cluster import KElbowVisualizer

# Instantiate the clustering model and visualizer
model = KMeans()
visualizer = KElbowVisualizer(model, k=(3,11))

visualizer.fit(X)
visualizer

## Clustering with k = 5

In [ ]:
# set number of clusters
kclusters = 5

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(df_normalized)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

In [ ]:
df_normalized

In [ ]:
df_normalized.drop(['Mexican Population', 'Per Capita Income ($)'], axis=1, inplace=True)
df_clustered = pd.merge(df_boston, df_normalized, left_index=True, right_index=True)
df_clustered.insert(0, 'Cluster Label', kmeans.labels_)

In [ ]:
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# create map
map_clusters = folium.Map(location=[latitude,longitude], zoom_start=11)

# set color schemes for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(df_clustered['Latitude'], df_clustered['Longitude'], df_clustered['Neighbourhood'], df_clustered['Cluster Label']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

In [ ]:
df_clustered.loc[df_clustered['Cluster Label'] == 0]

In [ ]:
df_clustered.loc[df_clustered['Cluster Label'] == 1]

In [ ]:
df_clustered.loc[df_clustered['Cluster Label'] == 2]

In [ ]:
df_clustered.loc[df_clustered['Cluster Label'] == 3]

In [ ]:
df_clustered.loc[df_clustered['Cluster Label'] == 4]